.navbar-default {
	background: transparent;
	border: none;
	font-weight: bold;
	font-size: 12px;
}

.jumbotron {
	height: 600px;
	background-image: url("http://blackrockdigital.github.io/startbootstrap-clean-blog/img/post-bg.jpg");
	color: white;
	padding: 125px;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-size: 28px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

#header-stamp {
	font-style: italic;
	font-family: Lora, 'Times New Roman', serif;
}

.col-sm-6 {
	font-size: 22px;
	font-family: Lora, 'Times New Roman', serif;
}

.main-text {
	padding-top: 50px;
}

.chapter-heading {
	font-size: 32px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	margin-top: 40px;
	margin-bottom: 20px;
}

blockquote {
	font-size: 20px;
	font-style: italic;
}

.photo-text {
	text-align: center;
	font-size: 14px;
	font-style: italic;
}


footer {
	border-top: 1px solid silver;
	text-align: center;
	font-style: italic;
}

.icons {
	margin: 30px;
}